<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) Microsoft Corporation.  All rights reserved.
 * Licensed under the MIT license. See License.txt in the project root for license information.
 */
 -->
<plugin id="cordova-plugin-ms-azure-mobile-engagement-tests" version="3.2.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Azure Mobile Engagement Tests</name>
    <js-module src="tests.js"/>
</plugin>
