<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) Microsoft Corporation.  All rights reserved.
 * Licensed under the MIT license. See License.txt in the project root for license information.
 */
 -->
<plugin id="cordova-plugin-ms-azure-mobile-engagement-lazyarea-location" version="3.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Azure Mobile Engagement Lazy Area Location</name>
   
    <platform name="android">
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>
         <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="AZME_LAZYAREA_LOCATION" android:value="true"/>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file parent="AZME_LAZYAREA_LOCATION" target="*-Info.plist">
            <string>true</string>
        </config-file>
    </platform>
      
</plugin>
